<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">

<head>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

<div class="container">

	<a th:href="@{/user/user-form}">
		<button>Go Add </button>
	</a>
</div>

	<table class="table table-bordered table-stripped">

		<thead>
			<tr>
				<th>Id</th>
				<th>Brand</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Path</th>

				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${userList}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.username}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.password}"> ${user.photoPath}</td>
				<td th:text="${user.photoPath}"> </td>

				<td>
					<img  th:src="${user.photoPath}"
						  alt="ssdsdsa jacket" width="300" height="300" />


					<!--					<img th:if="${user.photo}" th:src="${'data:image/png;base64, ' + user.photo}"-->
<!--						style="height: 100px; width: 100px;" alt="No Image" />-->
				</td>
				<td>
					<a th:href="@{/user/edit/{id}(id=${user.id})}">
						<button>Edit</button>
					</a>
					<a th:href="@{/user/delete/{id}(id=${user.id})}">
						<button>Delete</button>
					</a>
				</td>
			</tr>

		</tbody>

	</table>


</body>

</html>